<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    </head>
<body>
    <nav>
        <a href= "/">Just adding this bc they said make a link to '/' aka HOME</a>
        <a href="/login">Log In</a>
        <a href="/blog">Main Blog Page</a>
        <a href="/newpost">Add a Blog Entry</a>
        <a href="/logout">Log out</a>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>