{% extends "base.html" %}

{% block content %}

    <h1>Add a Blog Entry</h1>

    <form method='post'>
        <label>
            Title your new blog:
            <input type="text" name="title" value="{{blog_title}}" />
        </label>
        <span>
            {{title_error}}
        </span>
        <br>
        <label>
            Your new blog:
            <textarea name="body" value="">{{blog_body}}</textarea>
        </label>
        <span class=error>
            {{body_error}}
        </span>
        <input type="submit" value="Add Entry" />
    </form>

    
{% endblock %}